


.search-container {
  display: flex;
  align-items: center;
  padding: 10px;
  background: #373f67;

  input {
    width: 100%;
    background: white;
    border: none;
    font-size: 1rem;
    padding: .4rem;
    border-radius: 5px;
  }
  
  button {
    background: none;
    border: none;
    
    img {
      width: 20px;
    }
  }
}

.category-container {
  display: flex;
  align-items: center;
  width: 100%;

  button {
    width: 100%;
    background: #373f67;
    border: none;
    padding-bottom: 10px;
  }
}